version: 2.1

# Define the jobs we want to run for this project
jobs:
  build:
    docker:
      - image: alpine:3.7
    steps:
      - checkout
      - run:
          name: Install all dependencies
          command: |
            yarn
            npx lerna bootstrap
  test:
    docker:
      - image: alpine:3.7
    steps:
      - checkout
      - run: yarn test

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build
      - test